@font-face {
    font-family: 'helvetica_light';
    src: url('/assets/fonts/HelveticaNeue-Light.woff2') format('woff2'),
         url('/assets/fonts/HelveticaNeue-Light.woff') format('woff'),
         url('/assets/fonts/HelveticaNeue-Light.otf') format('opentype');
}

@font-face {
    font-family: 'helvetica_thin';
    src: url('/assets/fonts/HelveticaNeue-Thin.woff2') format('woff2'),
         url('/assets/fonts/HelveticaNeue-Thin.woff') format('woff'),
         url('/assets/fonts/HelveticaNeue-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'helvetica_medium';
    src: url('/assets/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
         url('/assets/fonts/HelveticaNeue-Medium.woff') format('woff'),
         url('/assets/fonts/HelveticaNeue-Medium.otf') format('opentype');
}
        
/* @font-face {
    font-family: 'helvetica_regular';
    src: url('/public/fonts/helveticaneueroman-webfont.woff2') format('woff2'),
            url('/public/fonts/helveticaneueroman-webfont.woff') format('woff'),
            url('/public/fonts/HelveticaNeueRoman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */
 
:root {
    --beige: #E3E1D5;
    --matcha: #626F47;
    --light-matcha: rgb(150, 164, 121);
    --gray: #555555;
    --section-w: 1120px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:after, *:before {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--beige);
}

body::selection {
    background-color: var(--light-matcha);
}

.body-div {
    position: relative;
    margin-inline: auto;
    display: flex;
    /* height: 150dvh; */
    gap: 1rem;
    max-width: var(--section-w);
}

header {
    position: sticky;
    top: 0;
    /* border: 1px red solid; */
    height: 100vh;
    width: 50%;
    align-self: flex-start;
    padding-block: 6rem;
    padding-inline: 2rem;
}

main {
    /* border: 1px blue solid; */
    padding-block: 6rem;
    width: 50%;
}

section {
    position: relative;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 8rem;
}

section#contact {
    margin-bottom: 6.25rem;
}

.section-title {
    position: static;
    font-family: 'helvetica_light';
    padding-block: .5rem;
    font-size: 1.5rem;
    background-color: var(--beige);
    display: none;
}

footer {
    position: absolute;
    font-family: 'helvetica_light';
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-block: 1rem;
}

/* Hero Section */

.hero-name,
.hero-location, 
.hero-caption,
nav {
    font-family: 'helvetica_light';
}

/* .hero-name,
.hero-job-title,
.hero-caption,
nav {
    background-color: white;
} */

.hero-name,
.hero-job-title {
    margin-block-end: 1rem;
}

.hero-name {
    font-size: 3rem
}

.hero-job-title {
    font-size: 2.5rem;
    font-family: 'helvetica_medium';
    color: var(--matcha);
}

.hero-caption {
    font-size: 1.5rem;
    margin-block-end: 2rem;
}

.hero-location {
    font-size: 1rem;
}

nav ul {
    list-style: none;
    width: fit-content;
}

nav ul li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

nav ul li .nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li .nav-link.active .line {
    width: 3.75rem;
}
  
.line {
    height: 1px;
    background-color: black;
    width: 0;
    transition: width 0.6s ease;
}

.line-section-title {
    background-color: black;
    height: 1px;
    width: 3.75rem;
}

.hero-location-containter {
    margin-block-end: 2rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero-location-containter img {
    height: 1rem;
}

.header-div {
    height: 100%;
    position: relative;
}

.icon-links-container {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 1.5rem;
}

/* About Me Section */
.about-description {
    font-family: 'helvetica_light';
    font-size: 1.5rem;
    line-height: 2rem;
}

.about-job-title {
    font-family: 'helvetica_medium';
    color: var(--matcha);
}

.about-tools-main {
    font-family: 'helvetica_medium';
    font-size: 1.25rem;
}

.about-tools-sub {
    font-size: 1rem;
}

/* Experience Section */

.section-div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.list-container {
    flex: 1;
}

.list-container p {
    margin-bottom: 1rem;
}

.list-title {
    font-family: 'helvetica_medium';
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.list-description {
    font-family: 'helvetica_light';
    font-size: 1rem;
    line-height: 1.5rem;
}

.list-skills {
    font-family: 'helvetica_medium';
    font-size: .875rem;
    color: var(--matcha);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.experience-container, .project-container {
    display: flex;
    gap: 1.25rem;
}

.experience-date {
    width: 10rem;
    font-family: 'helvetica_light';
    font-size: 1rem;
}

/* Project Section */
.project-image-link-cont {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-image-frame {
    width: 100%;
    border: 1px solid var(--gray);
    height: 5.5rem;
}

.project-image-frame img {
    width: 100%;
    height: 100%;
}

.project-links-cont {
    margin-top: auto;
    display: flex;
    justify-content: end;
    gap: .5rem;
}

.project-links-cont a {
    height: 1.5rem;
}

/* View Resume  */
.resume-section {
    display: flex;
    gap: 1rem;
}

.line-2-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.line-2 {
    width: 100%;
    border-bottom: 1px solid black;
    /* height: 1px;
    background-color: black; */
}

.resume-description-cont {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.resume-description-cont a {
    font-family: 'helvetica_light';
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

/* Contact */

.contact-description {
    font-family: 'helvetica_light';
    font-size: 1.5rem;
    line-height: 2rem;
}

.contact-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-btn-container button {
    font-family: 'helvetica_light';
    padding-inline: 1rem;
    padding-block: .5rem;
    border: black solid 1px;
    /* border: none; */
    font-size: 1.25rem; 
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.contact-btn-container button::before, .contact-btn-container button::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--beige);
    position: absolute;
    transition: all 0.3s linear;
}

.contact-btn-container button:hover::before, .contact-btn-container button:hover::after {
    width: 0;
}

.contact-btn-container button::before {
    left: 0;
    bottom: -1px;
}

.contact-btn-container button::after {
    right: 0;
    top: -1px;
}

.contact-email-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-email-container hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: black;
}

.contact-email {
    font-family: 'helvetica_light';
}

@media (max-width: 1024px) {
    main {
        padding-block: 0;
    }

    .body-div {
        /* padding-inline: 5rem; */
        flex-direction: column;
    }

    header {
        position: static;
        width: 100%;
        height: auto;
    }

    main {
        width: 100%;
    }

    .section-title {
        display: flex;
        position: sticky;
        top: 0;
        gap: 1rem;
        align-items: center;
    }
    
    nav {
        display: none;
    }

    .icon-links-container {
        position: inherit;
        display: flex;
        gap: 1.5rem;
    }
}

@media (max-width: 480px) {


    section#contact {
        margin-bottom: 12rem;
    }

    .experience-container {
        flex-direction: column;
    }

    .project-container {
        flex-direction: column-reverse;
    }

    .project-image-link-cont {
        width: 15rem;
    }

    .project-image-frame {
        height: 8rem;
    }
    
    .project-links-cont {
        justify-content: start;
    }
}